# API Base URL - Change to http://localhost:8787 for local development
VITE_API_BASE_URL=https://my-api.ajoyjohnm.workers.dev

# Image CDN Base URL
VITE_IMAGE_BASE_URL=https://pub-fbba380656084edda4d915551564adce.r2.dev/
